header{
    background: rgb(242, 243, 248);
}

section{
    margin-top: 50px;
    margin-bottom: 50px;
}

footer{
    background: rgb(242, 243, 248);
}

h1{
    padding: 25px;
    margin: 25px;
    margin: auto;
}

h2{
    width: 50%;
    min-width: 350px;
    margin: auto;
}

p{
    width: 75%;
    min-width: 200px;
    max-width: 700px;
    margin: auto;
    padding: 5px;
}

@media (min-width : 800px) {
    header{
        background: rgb(218, 255, 255);
    }
}